<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <%- include('./partials/css.ejs') %>
    <link rel="stylesheet" href="/css/result_pages/anime_result.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="grid_container">
      <% animes.forEach(anime => { %>
      <div class="grid-items">
        <h4 style="text-align: center"><%= anime.title %></h4>
        <img src="<%=anime.image_url%>" class="poster" />
      </div>
      <div class="grid-items">
        <p style="font-size: 20px"><%= anime.synopsis%></p>
        <br />
        <h5>Start Date: <%= anime.start_date%></h5>
        <h5>End Date: <%= anime.end_date%></h5>
        <h5>Rating: <%= anime.rated%></h5>
        <h5>For more information,visit to the link down below⬇︎⬇︎</h5>
        <p><%= anime.url %></p>
      </div>
      <% })%>
    </div>

    <%- include('./partials/jQuery.ejs') %>
  </body>
</html>
