<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
    <%- include('./partials/css.ejs') %>
    <link rel="stylesheet" href="/css/result_pages/movie_result.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <button
      class="btn btn-danger"
      data-target="#movie_modal"
      data-toggle="modal"
      style="
        position: sticky;
        top: 0;
        padding: 5px;
        border-radius: 20px;
        margin-left: 10px;
        opacity: 50%;
      "
    >
      Details
    </button>
    <div class="modal fade" id="movie_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form action="/movie_details" target="_blank" method="POST">
              <input
                type="text"
                class="form-control"
                name="movie_id"
                placeholder="Grab the imdbID and put it here!"
              />
              <br />
              <p>
                <em class="text-danger sm"
                  >We are working on it to fix the error. Sorry for your
                  inconvenience
                </em>
              </p>
              <input type="submit" value="Search" class="btn btn-warning" />
            </form>
          </div>
          <!-- <div class="modal-footer">
            <button data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="grid_container">
      <% movies.forEach(movie => { %>
      <div class="grid-items">
        <h5 style="text-align: center"><%= movie.Title %></h5>
        <img src="<%=movie.Poster%>" class="poster" style="margin-left: 30%" />
        <p style="text-align: center; margin-top: 10px">
          <span style="color: yellow">Imdb_ID</span> : <%= movie.imdbID %>
        </p>
      </div>
      <% })%>
    </div>
    <script>
      //Set imdbID to the local storage ,So that we can access it from other files
      const movie_id = (id) => {
        localStorage.setItem("imdbID", movie.imdbID);
      };
    </script>
    <%- include("./partials/footer.ejs") %> <%- include('./partials/jQuery.ejs')
    %>
  </body>
</html>
